<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scout.patient">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_symbol_only"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.scout.patient.Utilities.MyFirebaseMessagingService">
            <intent-filter android:priority="1">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.Search.SearchResultsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.Search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.HospitalProfile.HospitalProfileActivity" />
        <activity android:name=".ui.EditProfile.EditProfileActivity" />
        <activity
            android:name=".ui.Hospital.HospitalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Auth.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.DoctorsProfile.DoctorsProfileActivity" />
        <activity android:name=".ui.Notification.NotificationActivity" />
        <activity android:name=".ui.Profile.ProfileActivity" />
        <activity
            android:name=".ui.Appointments.AppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AppointmentBooking.BookAppointmentActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.DoctorsActivity.DoctorsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Auth.Registration.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.Auth.LoginActivity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>